@import "tailwindcss";

/* @import "tailwindcss/preflight"; */
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

.menu-item {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
}
.menu-item:hover {
  background: #f8fafc;
}